.container-items {
  border: 1px solid black;
  margin-top: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  margin-top: 4rem;
  position: relative;
  display: block;
}
.btn {
  align-items: center;
}
.btn-inside {
  background-color: rgb(174, 7, 7);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-weight: bolder;
}
